.padre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    border: 1px solid rgb(20, 248, 70);
}
.hijo {
    height: 200px;
    width: 20%;
    border: 1px solid rgb(6, 228, 236);
    background-color: rgb(11, 7, 245);
}
.padreBotones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 20%;
    border: 1px solid rgb(247, 151, 9);
    background-color: rgb(93, 255, 155);
}